/* ==
 * Font Face
 * == */

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/OpenSans/opensans-regular-webfont.eot");
  src: url("/static/fonts/OpenSans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("/static/fonts/OpenSans/opensans-regular-webfont.woff") format("woff"), url("/static/fonts/OpenSans/opensans-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: normal;
  src: url("/static/fonts/OpenSans/opensans-bold-webfont.eot");
  src: url("/static/fonts/OpenSans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("/static/fonts/OpenSans/opensans-bold-webfont.woff") format("woff"), url("/static/fonts/OpenSans/opensans-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: italic;
  src: url("/static/fonts/OpenSans/opensans-italic-webfont.eot");
  src: url("/static/fonts/OpenSans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans/opensans-italic-webfont.woff2") format("woff2"), url("/static/fonts/OpenSans/opensans-italic-webfont.woff") format("woff"), url("/static/fonts/OpenSans/opensans-italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-weight: 300;
  font-style: normal;
  src: url("/static/fonts/Adelle/adelle-light-webfont.eot");
  src: url("/static/fonts/Adelle/adelle-light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Adelle/adelle-light-webfont.woff2") format("woff2"), url("/static/fonts/Adelle/adelle-light-webfont.woff") format("woff"), url("/static/fonts/Adelle/adelle-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/Adelle/adelle-reg-webfont.eot");
  src: url("/static/fonts/Adelle/adelle-reg-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Adelle/adelle-reg-webfont.woff2") format("woff2"), url("/static/fonts/Adelle/adelle-reg-webfont.woff") format("woff"), url("/static/fonts/Adelle/adelle-reg-webfont.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-weight: 700;
  font-style: normal;
  src: url("/static/fonts/Adelle/adelle-bold-webfont.eot");
  src: url("/static/fonts/Adelle/adelle-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Adelle/adelle-bold-webfont.woff2") format("woff2"), url("/static/fonts/Adelle/adelle-bold-webfont.woff") format("woff"), url("/static/fonts/Adelle/adelle-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: Adelle;
  font-weight: 800;
  font-style: normal;
  src: url("/static/fonts/Adelle/adelle-extrabold-webfont.eot");
  src: url("/static/fonts/Adelle/adelle-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Adelle/adelle-extrabold-webfont.woff2") format("woff2"), url("/static/fonts/Adelle/adelle-extrabold-webfont.woff") format("woff"), url("/static/fonts/Adelle/adelle-extrabold-webfont.ttf") format("truetype");
}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html,
body {
  height: 100%;
}

/* ==
 * Buttons
 * == */

[data-button] {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 45px;
  line-height: 2.8125rem;
  position: relative;
  overflow: hidden;
  min-width: 130px;
  height: 45px;
  display: inline-block;
  font-family: OpenSans;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  color: #fff;
  background-color: #ff3800;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 21px;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  cursor: pointer;
}

[data-button]:hover {
  color: #fff;
}

[data-button]:hover .button__text {
  opacity: 0;
  top: -40px;
}

[data-button]:hover .button__text--hover {
  opacity: 1;
  top: 0px;
}

[data-button] .button__text,
[data-button] .button__text--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-transition: top 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
          transition: top 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

[data-button] .button__text--hover {
  top: 40px;
  opacity: 0;
}

[data-button~="variant"] {
  background-color: #f19d27;
}

/* ==
 * Forms
 * == */

textarea {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 17px;
  line-height: 1.0625rem;
  background: #fff;
  color: #333;
  border: 0;
  outline: 0;
  font-family: "Arial";
  padding: 5px 14px;
  -webkit-transition: all 250ms;
          transition: all 250ms;
  -webkit-transition-property: color, background, border-color;
          transition-property: color, background, border-color;
  padding: 5px 14px;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
}


textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
  font-family: "Arial";
}

textarea {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  padding: 0;
  font-family: Adelle;
  font-size: 70px;
  font-size: 4.375rem;
  line-height: 80px;
  line-height: 5rem;
  font-weight: 800;
  letter-spacing: -.01em;
  text-align: center;
  color: #fff;
}

.form-field {
  display: block;
}

.form-field:after {
  content: "";
  display: table;
  clear: both;
}

.form-field--input {
  padding: 20px;
}

.form__options {
  padding: 20px 0;
}

.form__options:after {
  content: "";
  display: table;
  clear: both;
}

.form__options .form-field {
  line-height: 45px;
  line-height: 2.8125rem;
  float: right;
  margin-left: 25px;
}

.form__options .form-field--count {
  font-family: OpenSans;
  font-weight: bold;
  color: #fff;
}

/* ==
 * Container
 * == */

 .container {
  height: 100%;
 }

 .container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.5em;
 }

 .container--center {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
 }

/* ==
 * Answer / Ask Form
 * == */

.form--ask form,
.form--answer form,
.question__body {
  max-width: 800px;
  margin: 0 auto;
}

.form--ask .form-field--input textarea {
  background-color: transparent;
  border-bottom: 1px dotted #ff3800;
  resize: none;
}

.form--answer .form__options {
  text-align: center;
}

.form--answer .form__options .form-field--submit {
  float: none;
  margin-left: 0;
}

/* ==
 * Question
 * == */

.question {
  position: relative;
  z-index: 10;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.question__body {
  margin-bottom: 30px;
  font-family: Adelle;
  font-size: 70px;
  font-size: 4.375rem;
  line-height: 80px;
  line-height: 5rem;
  font-weight: 800;
  letter-spacing: -.01em;
  text-align: center;
  color: #fff;
}