<div class="question question--answer">

  <p class="question__body">{{= data.question.body}}</p>

  <div class="form form--answer">

    <form data-answer-form action="/v1/questions/{{= data.question.id}}" method="PUT">
      <input type="hidden" name="status" id="status" value="1">
      <div class="form__options">
        <div class="form-field form-field--submit">
          <button type="submit" data-button name="button" type="button">
            <span class="button__text">Answered</span>
            <span class="button__text--hover">Answered</span>
          </button>
        </div>
      </div>
    </form>

  </div>

</div>