<div class="question question--ask">

  <div class="form form--ask">

    <form data-ask-form action="/v1/questions" method="POST">

      <div class="form-field form-field--input">

        <div class="input-wrap">
          <textarea rows='1' placeholder="Type your question..." name="body" maxlength="500"></textarea>
        </div>

        <input name="status" type="hidden" value="0">

      </div>

      <div class="form__options">
        <div class="form-field form-field--submit">
          <button type="submit" data-button name="button" type="button">
            <span class="button__text">Ask</span>
            <span class="button__text--hover">Ask</span>
          </button>
        </div>
      </div>

    </form>

  </div>

</div>

<div class="response response--success">

    <h3 class="response__heading">Question submitted.</h3>
    <h4>I eat questions for breakfast. Feed me!</h4>

    <button data-button data-show-ask-form="success" name="button" type="button">
      <span class="button__text">Ask another?</span>
      <span class="button__text--hover">Ask another?</span>
    </button>

</div>

<div class="response response--error">

    <h3 class="response__heading">Oh balls!</h3>
    <h4>We done fucked up!</h4>

    <button data-button data-show-ask-form="error" name="button" type="button">
      <span class="button__text">Try again</span>
      <span class="button__text--hover">Try again</span>
    </button>

</div>